

<a class="close" onclick="closeshow()"><img src="{{ asset('bundles/app/images/close.png') }}" alt="close"/></a>
{{ form_start(form , {'attr': {'id': 'short_calendar' }}) }}
    {{ form_errors(form) }}
<div><label>Quando:</label><div class="start_date"></div></div>

{{ form_row(form.startdatetime) }}
{{ form_row(form.title) }}
    {{ form_row(form.enddatetime) }}
    {{ form_row(form.submit,{ 'id': 'submit_short_calendar',  'attr': { 'class' : 'my_custom_class' } , 'label': 'Gravar' }) }}
{{ form_end(form) }}

<a class="edit" onclick="EditEvent()" >Editar</a>
<a class="remove" onclick="DeleteEvent()">Excluir</a>

<input type="hidden" id="id_del">
<script>
    $( document ).ready(function() {

    });
</script>
