{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/topheadergeral.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/fontes_awesome.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/perfil.css') }}" />
{% endblock %}

<div class="row full-width-row">
    <header class="large-15 medium-15 columns header push-1" >
        {% if app.user %}
            <input type="hidden" id="logged" value="{{app.user.id}}">
            <input type="hidden" id="logged_username" value="{{app.user.username}}">
        {% endif %}

        <div class="large-6 medium-6 columns">
            <h6 class="title"> Criação -  Agenda </h6>
        </div>
        <div class="large-8 medium-8 columns">
            <a class="button right inactiveLink bg_color"></a>
        </div>
        <div class="large-1 medium-1 columns">
            <div class="menu_direita" >
                <div id="menu_direita_circulo"></div></div>
        </div>



        {% include 'default/ajax_chat_topheader_geral.html.twig' %}

        {% include 'default/ajax_agenda_topheader_geral.html.twig' %}

        <div id="tab_sidebar" class="sideBarRight" style="display: none;">


            <ul class="nav nav-tabs material-tabs" role="tablist" style="padding: 0!important;border-bottom:1px solid #dfdfdf!important;height:43px;margin-left:0;margin-bottom:0;">
                <li  class="li_agenda" style="float: left">
                    <a id="chat_tab" style="padding: 10px 18px!important;" class="tabulador" href="#tabs-1" aria-controls="notifications" role="tab" data-toggle="tab" aria-expanded="false">Agenda de hoje</a>

                </li>

                <li class="li_chat"><a class="tabulador" href="#tabs-2" style="padding: 10px 60px!important;" aria-controls="message" role="tab" data-toggle="tab" aria-expanded="true">Chat</a>
                </li>

            </ul>
            <div id="n_lidas" style="margin-top: -12px;">

            </div>

            <div id="tabs-1" style="padding-top: 15px!important;">

            </div>

            <div id="tabs-2">

            </div>
        </div>

    </header>

    <style>

        .botao_enviar{
            margin-top:-50px;
        }


    </style>
</div>

