{{ include('resources.html.twig') }}

<!DOCTYPE html>


{% stylesheets '@AppBundle/Resources/public/css/*' %}
<link rel="stylesheet" href="{{ asset('bundles/applicationsonatauser/css/app.css') }}" />

<link rel="stylesheet" href="{{ asset('bundles/applicationsonatauser/css/style.css') }}" />

{% endstylesheets %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/applicationsonatauser/js/mainjs.js') }}"></script>
{% endblock %}

{% if is_granted("ROLE") %}

    Hi {{ app.user.username }}
{% else %}


{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

    <section class="row login valign-middle login" >
        <div class="small-16 medium-6 large-6 columns">
            <img src="{{ asset('bundles/applicationsonatauser/images/logo.png') }}" alt="ilab" class="login-logo"/>

            <form action="{{ path("fos_user_security_check") }}" method="post" class="login-form">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <input placeholder="Utilizador" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <input placeholder="Palavra-Chave" type="password" id="password" name="_password" required="required" />
                <input type="submit" id="_submit" name="_submit" class="button expand" value="{{ 'Entrar'|trans({}, 'FOSUserBundle') }}" />

                <input id="keep-session" type="checkbox" style="display: inherit!important;">
                <label for="keep-session" style="padding-left:15px;margin-right: 0;margin-top: -33px;">{{ "Manter sessão aberta"|convert_encoding('UTF-8', 'iso-8859-1') }}</label>
                <input type="hidden" name="_target_path" value="/calendar" />
                <a href="#" class="right" style="margin-top: -33px;" >Esqueceu a sua password?</a>


                <style>
                    input[type="checkbox"]:not(:checked) + label:before, input[type="checkbox"]:checked + label:before {
                        content: none;
                        position: absolute;
                        left: 0;
                        top: 2px;
                        width: 17px;
                        height: 17px;
                        border: 1px solid #9993a3;
                        background: #fff;
                        border-radius: 2px;
                        margin-left: 0;
                    }
                </style>

            </form>



            <p class="text-center">&copy; 2015 iLab lims Admin Dashboard</p>
        </div>
    </section>



{% endblock fos_user_content %}
    {% endif %}