{% block sonata_wrapper %}
<div class="wrapper row-offcanvas row-offcanvas-left">


    <aside class="right-side">
        {% block sonata_page_content %}


        <section class="content">
            {% block sonata_admin_content %}

            {% block notice %}
            {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
            {% endblock notice %}

            {% if _preview is not empty %}
            <div class="sonata-ba-preview">{{ _preview|raw }}</div>
            {% endif %}

            {% if _content is not empty %}
            <div class="sonata-ba-content">{{ _content|raw }}</div>
            {% endif %}

            {% if _show is not empty %}
            <div class="sonata-ba-show">{{ _show|raw }}</div>
            {% endif %}

            {% if _form is not empty %}
            <div class="sonata-ba-form">{{ _form|raw }}</div>
            {% endif %}

            {% if _list_table is not empty or _list_filters is not empty %}
            <div class="row">
                <div class="sonata-ba-list {% if _list_filters|trim %}col-md-10{% else %}col-md-12{% endif %}">
                    {{ _list_table|raw }}
                </div>

                {% if _list_filters|trim %}
                <div class="sonata-ba-filter col-md-2">
                    {{ _list_filters|raw }}
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endblock sonata_admin_content %}
        </section>
        {% endblock sonata_page_content %}
    </aside>

</div>
<style>
    body {
        background: #fff url('/bundles/app/images/textura_bg.png') top left;

    }


</style>
{% endblock sonata_wrapper %}